{% extends 'base_twigs/base.twig' %}
{% block bodycontent %}
    <div class="grid-root gallery-root">
        {% include 'base_twigs/header.twig' %}
        <main class="grid-main grid-main-gallery">
            <ul class="gallery-list">
                {% for imgFile in config.imageGallery %}
                        <li class="gallery-list-item">
                            <a href="{{ base_url }}/image/gallery/{{ imgFile }}">
                                <picture>
                                    <source media="(min-width: 1250px)" srcset="{{ base_url }}/image/gallery/{{ imgFile }}?w=360&h=250&crop-to-fit">
                                    <source media="(min-width: 950px)" srcset="{{ base_url }}/image/gallery/{{ imgFile }}?w=280&h=200&crop-to-fit">
                                    <source media="(min-width: 700px)" srcset="{{ base_url }}/image/gallery/{{ imgFile }}?w=200&h=170&crop-to-fit">
                                    <img src="{{ base_url }}/image/gallery/{{ imgFile }}?w=300" alt="Experiment image"/>
                                </picture>
                            </a>
                        </li>
                {% endfor %}
            </ul>
        </main>
        {% include 'base_twigs/footer.twig' %}
    </div>
{% endblock %}
