{% extends 'base_twigs/base.twig' %}
{% block bodycontent %}
<div class="grid-root {% if meta.wrapclass %} {{ meta.wrapclass}}-root{% endif %} {% if meta.wrapclass_secondary %} {{ meta.wrapclass_secondary}}-root{% endif %}">
    {% include 'base_twigs/header.twig' %}
    <aside class="sidebar">
        <ul class="report-box-list">
            {% for page in pages %}
                {{ page.filterword }}
                {% if meta.filterword == page.meta.filterword %}
                    <li class="report-box-li">
                        <a href="{{ page.url }}">
                            <div class="report-box small-hexagon small-double">
                                <div class="report-box-inner">
                                    <p class="report-side-title"> {{ page.title }}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </aside>
    <main class="grid-main{% if meta.wrapclass %} grid-main-{{ meta.wrapclass}}{% endif %} {% if meta.wrapclass_secondary %} grid-main-{{ meta.wrapclass_secondary}}{% endif %}">
        <div class="content-wrapper">
            {{ content }}
        </div>
    </main>
    {% include 'base_twigs/footer.twig' %}
</div>
{% endblock %}
