{% extends 'base_twigs/base.twig' %}
{% block bodycontent %}
    <div class="grid-root {{ meta.wrapclass }}-root">
        {% include 'base_twigs/header.twig' %}
        <main class="grid-main{% if meta.wrapclass %} grid-main-{{ meta.wrapclass}}{% endif %}">
            <div class="content-wrapper">
                {{ content }}
            </div>
            <ul class="report-box-list">
                {% for child in current_page.tree_node.children %}
                    {% if child.page.title != "Slutprojekt" %}
                        <li class="report-box-li">
                            <a href="{{ child.page.url }}">
                                <div class="report-box hexagon double">
                                    <div class="report-box-inner">
                                        <h2 class="report-box-title"> {{ child.page.title }}</h2>
                                        <p class="report-box-intro"> {{ child.page.meta.intro }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="report-project">
                <a href="{{ attribute(pages, "report/kmom10").url }}">
                    <div class="report-box hexagon double">
                        <div class="report-box-inner">
                            <h2 class="report-box-title">{{ attribute(pages, "report/kmom10").title }}</h2>
                            <p class="report-box-intro">{{ attribute(pages, "report/kmom10").meta.intro }}</p>
                            <img src="{{ base_url }}/{% if config.session.theme == "dark" %}{{ pages["report/kmom10"].meta.imagedark|url }}
                            {% else %}{{ pages["report/kmom10"].meta.image|url }}{% endif %}"
                            alt="{{ pages["report/kmom10"].meta.imagedesc }}" />
                        </div>
                    </div>
                </a>
            </div>
        </main>
        {% include 'base_twigs/footer.twig' %}
    </div>
{% endblock %}
